.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}
@media (max-width: 700px) {
  .flex-container {
    width: 100%;
  }
  .carousel__image {
    width: 350px;
  }
}
