.boaty {
  width: 200px;
}

body {
  background-color: #060f22;
}
h1 {
  color: white;
  font-family: 'Bitter', serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

h2 {
  color: white;
  text-transform: uppercase;
  font-family: 'moniker', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.project-container {
  width: 450px;
  height: 300px;
  border-radius: 10px;
  background-color: #092441;
  margin: 10px;
}

.title {
  color: #71cff0;
  font-family: 'bryant-web', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  padding: 30px 0px 10px 30px;
}

.project-icon {
  color: white;
  font-family: 'bryant-web', sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 75px;
  padding: 0px 0px 10px 30px;
}

.use-icon {
  color: #71cff0;
  font-family: 'bryant-web', sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 30px;
  padding: 0px 0px 10px 30px;
}

.project-description {
  color: white;
  font-family: 'bryant-web', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  padding: 0px 80px 40px 30px;
}
